body {
		text-align: center;
	}
	h4{
		margin: 0;
		color: gray;
	}
	.color-button{
		float: left;
		width: 15px;
		height:  10px;
		margin: 5px;
		border-radius: 2px;
	}
	#border{
		width: 800px;
		height: 600px;
		margin: auto;
		position: relative;
		border: 1px solid gray;
		border-radius: 5px;
	}
	#color-control{
		position: absolute;
		top: 10px;
		left: 20px;
		width: 80px;
		height: 60px;
		border: 1px solid black;
		border-radius: 10px;
		z-index: 10;
	}
	#black{
		background-color: black;
	}
	#red{
		background-color: red;
	}
	#blue{
		background-color: blue;
	}
	#yellow{
		background-color: yellow;
	}
	#green{
		background-color: green;
	}
	#clean-control{
		position: absolute;
		top: 10px;
		right: 20px;
		width: 80px;
		height: 60px;
		border: 1px solid black;
		border-radius: 10px;
		z-index: 10;
	}
	#clean{
		float: left;
		margin-left: 30px;
		width: 20px;
		height: 20px;
		background-color: #2f4f4f;
	}