body{
	margin: 0px;
	background-color: #a0a0a0;
	font-family: sans-serif;
	color: white;
	font-size: 20px;
}

img{
	width: 400px;
	height: 400px;
}
p{
	margin-top: 8px;
}

#static_div{
	margin: 50px 440px;
	width: 400px;
	overflow: hidden;
	position: relative;
	float: left;	
	border: 10px #ff0 double;
	border-radius: 10px;
}

#move_div{ 
	left: -400px;
	top: 0px;
	width: 2000px;
	height: 400px;
	position: relative;
	float: left;
}
#move_part0{
	left: 0px;
}
#move_part1{
	left: 400px;
}
#move_part2{
	left: 800px;
}
#move_part3{
	left: 1200px;
}
#move_part4{
	left: 1600px;
}
.move_part{
	top: 0px;
	height: 400px;
	width: 400px;
	position: absolute;
}
.dot{
	background-color: pink;
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 50px;
	margin-top: 50px;
	border: 2px #3ff outset;
	border-radius: 30px;
	text-align: center;
	letter-spacing: 8px;
	word-wrap:break-word;
}

.dot:hover{
	border: 2px #fff inset;
	font-weight: bold;
	cursor: pointer;
}
#left{
	margin-left: 500px;	
}